:root {
  --primary-color: #242424;
  --colorSecondary : #545454;
  --colorWarning: #fcfcfc62; 
  --colorError : #A4031f;
}


.main{
    /* width: 100%; */
    /* height: 300px; */
    background-color: yellow;
   
    text-align: center;
}
h1{
    color: var(--primary-color);
    text-align: center;
    font-size: 37px;
    text-transform: capitalize;
      font-family: "Poppins", sans-serif;

}

h5{
    font-size: 20px;
    text-align: center;
    color: var(--colorSecondary);
    text-transform: capitalize;
    margin: 0;
}
hr{
    width: 250px;
}

article{
    /* background-color: red; */
    background-color: yellow;
    height: 200px;
}
.second{
    /* background-color: yellow; */
    /* margin: 30px  0; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;


   
}

input{
    width: 400px;
    padding:23px 20px ;

    border-radius: 8px;
    border: 1px solid black;
    
    border: 2px solid rgb(31, 142, 206);
    transition: 0.3s ease;

}
input::placeholder{
    font-size: 20px;
      font-family: "Poppins", sans-serif;
}
input:focus{
    font-size: 24px;
    color: #242424de;

}




